workflows/n8n/sympla-poc-workflow.json
{
  "name": "Sympla POC Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "replace-me-with-n8n-webhook-path",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-openclaw",
      "name": "OpenClaw Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body || {};\nconst data = body.data || {};\nconst expectedSecret = $env.N8N_WEBHOOK_SECRET;\nconst receivedSecret = headers['x-webhook-secret'] || headers['X-Webhook-Secret'];\nconst workflow = body.workflow || '';\nconst approvedWorkflows = new Set([\n  'sympla_list_events',\n  'sympla_lookup_participant_by_ticket',\n  'sympla_checkin_participant'\n]);\n\nif (!expectedSecret) {\n  throw new Error('N8N_WEBHOOK_SECRET is not configured in the n8n runtime environment.');\n}\n\nif (receivedSecret !== expectedSecret) {\n  throw new Error('Invalid X-Webhook-Secret header.');\n}\n\nif (!$env.SYMPLA_S_TOKEN) {\n  throw new Error('SYMPLA_S_TOKEN is not configured in the n8n runtime environment.');\n}\n\nif (!approvedWorkflows.has(workflow)) {\n  throw new Error(`Unsupported workflow: ${workflow || 'missing workflow name'}.`);\n}\n\nif (workflow !== 'sympla_list_events' && (!data.event_id || !data.ticket_number)) {\n  throw new Error(`${workflow} requires both event_id and ticket_number.`);\n}\n\nreturn [{\n  json: {\n    workflow,\n    summary: body.summary || '',\n    requiresConfirmation: Boolean(body.requiresConfirmation),\n    confirmed: Boolean(data.confirmed),\n    event_id: data.event_id || '',\n    ticket_number: data.ticket_number || '',\n    participant_id: data.participant_id || ''\n  }\n}];"
      },
      "id": "validate-request",
      "name": "Validate OpenClaw Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        420
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.workflow}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "sympla_list_events"
            },
            {
              "operation": "equal",
              "value2": "sympla_lookup_participant_by_ticket"
            },
            {
              "operation": "equal",
              "value2": "sympla_checkin_participant"
            }
          ]
        }
      },
      "id": "switch-workflow",
      "name": "Workflow Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        740,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SYMPLA_BASE_URL + '/events'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S_TOKEN",
              "value": "={{$env.SYMPLA_S_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-list-events",
      "name": "Sympla List Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        990,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.data ?? $json;\nconst events = Array.isArray(candidate) ? candidate : (Array.isArray(candidate.data) ? candidate.data : []);\nconst preview = events.slice(0, 3).map((event) => ({\n  id: event.id || event.event_id || '',\n  name: event.name || event.title || event.event_name || 'Evento sem nome'\n}));\n\nreturn [{\n  json: {\n    workflow: 'sympla_list_events',\n    status: 'success',\n    action: 'listed_events',\n    data: {\n      totalEvents: events.length,\n      events: preview\n    },\n    nextActionHint: events.length ? 'request_event_lookup_or_gated_checkin' : 'verify_the_sympla_account_has_events'\n  }\n}];"
      },
      "id": "format-list-events",
      "name": "Format List Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SYMPLA_BASE_URL + '/events/' + $('Validate OpenClaw Request').item.json.event_id + '/participants/ticketNumber/' + $('Validate OpenClaw Request').item.json.ticket_number + '?cancelled_filter=none&fields=&from=&to='}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S_TOKEN",
              "value": "={{$env.SYMPLA_S_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-lookup-participant",
      "name": "Sympla Lookup Participant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        990,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Validate OpenClaw Request').item.json;\nconst participant = $json.data || $json.participant || $json;\nconst ticketNumber = participant.ticket_number || participant.ticket_num || request.ticket_number;\nconst participantName = [participant.first_name, participant.last_name].filter(Boolean).join(' ') || participant.name || participant.full_name || 'Participant found';\nconst checkinStatus = participant.checkin_status || participant.checked_in || participant.checkin || 'unknown';\n\nreturn [{\n  json: {\n    workflow: 'sympla_lookup_participant_by_ticket',\n    status: 'success',\n    action: 'participant_lookup_completed',\n    data: {\n      event_id: request.event_id,\n      ticket_number: ticketNumber,\n      participant_name: participantName,\n      checkin_status: checkinStatus\n    },\n    nextActionHint: 'offer_gated_checkin_if_operator_requests'\n  }\n}];"
      },
      "id": "format-lookup",
      "name": "Format Participant Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.confirmed}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "if-confirmed",
      "name": "Checkin Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        990,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    workflow: 'sympla_checkin_participant',\n    status: 'confirmation_required',\n    action: 'participant_checkin_blocked_pending_confirmation',\n    data: {\n      event_id: $json.event_id,\n      ticket_number: $json.ticket_number,\n      confirmed: false\n    },\n    nextActionHint: 'repeat_the_same_request_with_confirmed_true'\n  }\n}];"
      },
      "id": "set-confirmation-needed",
      "name": "Format Confirmation Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SYMPLA_BASE_URL + '/events/' + $('Validate OpenClaw Request').item.json.event_id + '/participants/ticketNumber/' + $('Validate OpenClaw Request').item.json.ticket_number + '/checkin'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "S_TOKEN",
              "value": "={{$env.SYMPLA_S_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-checkin",
      "name": "Sympla Checkin Participant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Validate OpenClaw Request').item.json;\nreturn [{\n  json: {\n    workflow: 'sympla_checkin_participant',\n    status: 'success',\n    action: 'participant_checkin_executed',\n    data: {\n      event_id: request.event_id,\n      ticket_number: request.ticket_number,\n      confirmed: true\n    },\n    nextActionHint: 'offer_participant_lookup_for_verification'\n  }\n}];"
      },
      "id": "format-checkin",
      "name": "Format Checkin Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        560
      ]
    }
  ],
  "connections": {
    "OpenClaw Webhook": {
      "main": [
        [
          {
            "node": "Validate OpenClaw Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate OpenClaw Request": {
      "main": [
        [
          {
            "node": "Workflow Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Switch": {
      "main": [
        [
          {
            "node": "Sympla List Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sympla Lookup Participant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkin Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sympla List Events": {
      "main": [
        [
          {
            "node": "Format List Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Events": {
      "main": [
        [
        ]
      ]
    },
    "Sympla Lookup Participant": {
      "main": [
        [
          {
            "node": "Format Participant Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Participant Lookup": {
      "main": [
        [
        ]
      ]
    },
    "Checkin Confirmed?": {
      "main": [
        [
          {
            "node": "Sympla Checkin Participant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Confirmation Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation Needed": {
      "main": [
        [
        ]
      ]
    },
    "Sympla Checkin Participant": {
      "main": [
        [
          {
            "node": "Format Checkin Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Checkin Result": {
      "main": [
        [
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "sympla-poc-workflow-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
